@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=IBM+Plex+Serif:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=IBM+Plex+Serif:wght@300&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cairo:wght@300&family=Cormorant+Garamond:wght@300&family=Dancing+Script&family=IBM+Plex+Serif:wght@300&family=Oswald&display=swap');

body{
    height: 1500px;
    margin: 0%;
    padding: 0%;
    background-color: rgb(228, 227, 227);
    box-sizing: border-box;
}
.first{
    background-color: white;
    height: 60px;
    width: 100%;
}
#head{
    position: relative;
    top: 2%;
    right: 150px;
    display: inline-block;
    
    
}
.bk-logo{
    height: 50px;
    width: 50px;
    position: absolute;
    left: 200px;
    top: 2px;
}

.first .btn {
    
    background-color: inherit;
    padding: 14px 28px;
    position: relative;
    top: 0px;
    left: 900px;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif; 
    border: none;

  }
  .first .btn:hover{background: #eee;}
  .home {color: rgb(67, 148, 224);
}
  

.paragraph{
    
    position: absolute;
    left: 250px;
    top: 1px;
    font-size: 16px;  
    font-family: 'Dancing Script', cursive;
    font-family: 'Oswald', sans-serif;  
    letter-spacing: 1px;


}
.paragraph::first-letter{
    color: rgb(37, 142, 240);

}

.container{
    width: 100%;
    height: 550px;
    background-color: rgb(0, 0, 0);
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.6;
    filter: saturate(1%);
    filter: drop-shadow(100%);
    filter: grayscale(100%);
    
    
}



.inside{
    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    font-family: 'Amiri', serif;
    font-family: 'Cairo', sans-serif;
    
   
}
.space{
    position: absolute;
    top: 400px;
    left: 49%;
}
.material-symbols-outlined {
    position: absolute;
    top: 440px;
    left: 49%;
    
    
    font-variation-settings:
    'FILL' 0,
    'wght' 800,
    'GRAD' 0,
    'opsz' 49
    
  }


.under-pic{
    margin-top: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Amiri', serif;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Dancing Script', cursive;
    font-family: 'IBM Plex Serif', serif;
    font-family: 'Oswald', sans-serif; 
    letter-spacing: 2px;
    padding: 20px;
    padding-top: 10px;
    
}


.btn-preview{
    border-radius: 4px;
    padding: 14px 40px;
    width: 145px;
    font-size: 10px;
    border: 2px solid white;
    background-color: transparent;
    color: white;

}
.btn-preview:hover{
    background-color: gray;
    color: rgb(0, 0, 0);

}
.btn-gettheme{
    border-radius: 4px;
    padding: 14px 40px;
    width: 145px;
    font-size: 10px;
    margin-left: 4%;
    background-color: rgb(7, 135, 255);
    border-color: white;
    color: white;

}
.btn-gettheme:hover{
    background-color: transparent;
    color: currentColor;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
  }

.column {
    float: left;
    width: 300px;
    height: 50px;
    padding: 0 15px;
  }
  .row {
      margin: 0 -5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    background-color: #f1f1f1;
    padding-bottom: 50px;
    
  }

  * {
    box-sizing: border-box;
  }
  .block-cont{
      position: absolute;
      top: 1000px;
      left: 330px;
  }
  



.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}


.material-symbols-sharp {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 48
}






